In [2]:
# import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# load data
dataset = pd.read_csv('data/Data.csv')

In [4]:
dataset.head()

     Negara  Umur       Gaji Transaksi
0   Jakarta  44.0  8000000.0     Tidak
1   Bandung  27.0  6500000.0        Ya
2  Surabaya  30.0  4500000.0     Tidak
3   Bandung  38.0  7500000.0     Tidak
4  Surabaya  40.0        NaN        Ya

In [5]:
dataset.Transaksi.unique()

array(['Tidak', 'Ya'], dtype=object)

In [6]:
dataset.Transaksi = dataset.Transaksi.map({'Tidak': 0, 'Ya': 1})

In [7]:
dataset.head()

     Negara  Umur       Gaji  Transaksi
0   Jakarta  44.0  8000000.0          0
1   Bandung  27.0  6500000.0          1
2  Surabaya  30.0  4500000.0          0
3   Bandung  38.0  7500000.0          0
4  Surabaya  40.0        NaN          1