In [2]:
# import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# load data
dataset = pd.read_csv('data/Data.csv')

In [4]:
dataset.head()

     Negara  Umur       Gaji Transaksi
0   Jakarta  44.0  8000000.0     Tidak
1   Bandung  27.0  6500000.0        Ya
2  Surabaya  30.0  4500000.0     Tidak
3   Bandung  38.0  7500000.0     Tidak
4  Surabaya  40.0        NaN        Ya

In [8]:
X = dataset.iloc[:, 1:3].values
y = dataset.iloc[:, 3].values

In [9]:
# cek NaN
dataset.isnull().sum()

Negara       0
Umur         1
Gaji         1
Transaksi    0
dtype: int64

In [12]:
# imputasi pada NaN
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer.fit(X) # mean tiap kolom
X_filled = imputer.transform(X) # mengisi NaN dengan hasil fit

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [13]:
X

array([[4.400e+01, 8.000e+06],
       [2.700e+01, 6.500e+06],
       [3.000e+01, 4.500e+06],
       [3.800e+01, 7.500e+06],
       [4.000e+01,       nan],
       [3.500e+01, 1.000e+07],
       [      nan, 8.250e+06],
       [4.800e+01, 9.750e+06],
       [5.000e+01, 7.674e+06],
       [3.700e+01, 6.700e+06]])

In [14]:
X_filled

array([[4.40000000e+01, 8.00000000e+06],
       [2.70000000e+01, 6.50000000e+06],
       [3.00000000e+01, 4.50000000e+06],
       [3.80000000e+01, 7.50000000e+06],
       [4.00000000e+01, 7.65266667e+06],
       [3.50000000e+01, 1.00000000e+07],
       [3.87777778e+01, 8.25000000e+06],
       [4.80000000e+01, 9.75000000e+06],
       [5.00000000e+01, 7.67400000e+06],
       [3.70000000e+01, 6.70000000e+06]])