In [1]:
# import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# load data
dataset = pd.read_csv('data/Data.csv')

In [3]:
dataset.head()

     Negara  Umur       Gaji Transaksi
0   Jakarta  44.0  8000000.0     Tidak
1   Bandung  27.0  6500000.0        Ya
2  Surabaya  30.0  4500000.0     Tidak
3   Bandung  38.0  7500000.0     Tidak
4  Surabaya  40.0        NaN        Ya

In [4]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [5]:
# imputasi pada NaN
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [6]:
X[:, 1:3]

array([[44.0, 8000000.0],
       [27.0, 6500000.0],
       [30.0, 4500000.0],
       [38.0, 7500000.0],
       [40.0, 7652666.666666667],
       [35.0, 10000000.0],
       [38.77777777777778, 8250000.0],
       [48.0, 9750000.0],
       [50.0, 7674000.0],
       [37.0, 6700000.0]], dtype=object)

In [7]:
# feature scaling
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler()
scaled_X = sc_X.fit_transform(X[:, 1:3])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [8]:
scaled_X

array([[0.73913043, 0.63636364],
       [0.        , 0.36363636],
       [0.13043478, 0.        ],
       [0.47826087, 0.54545455],
       [0.56521739, 0.57321212],
       [0.34782609, 1.        ],
       [0.51207729, 0.68181818],
       [0.91304348, 0.95454545],
       [1.        , 0.57709091],
       [0.43478261, 0.4       ]])

In [9]:
X[:, 1:3]

array([[44.0, 8000000.0],
       [27.0, 6500000.0],
       [30.0, 4500000.0],
       [38.0, 7500000.0],
       [40.0, 7652666.666666667],
       [35.0, 10000000.0],
       [38.77777777777778, 8250000.0],
       [48.0, 9750000.0],
       [50.0, 7674000.0],
       [37.0, 6700000.0]], dtype=object)