In [1]:
# import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# load data
dataset = pd.read_csv('data/Data.csv')

In [3]:
dataset.head()

     Negara  Umur       Gaji Transaksi
0   Jakarta  44.0  8000000.0     Tidak
1   Bandung  27.0  6500000.0        Ya
2  Surabaya  30.0  4500000.0     Tidak
3   Bandung  38.0  7500000.0     Tidak
4  Surabaya  40.0        NaN        Ya

In [4]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [5]:
# imputasi pada NaN
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [6]:
# feature scaling
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler()
scaled_X = sc_X.fit_transform(X[:, 1:3])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
X_train

array([['Jakarta', 44.0, 8000000.0],
       ['Jakarta', 48.0, 9750000.0],
       ['Surabaya', 30.0, 4500000.0],
       ['Jakarta', 37.0, 6700000.0],
       ['Surabaya', 40.0, 7652666.666666667],
       ['Bandung', 38.0, 7500000.0],
       ['Bandung', 38.77777777777778, 8250000.0]], dtype=object)

In [9]:
X_test

array([['Surabaya', 50.0, 7674000.0],
       ['Bandung', 27.0, 6500000.0],
       ['Jakarta', 35.0, 10000000.0]], dtype=object)

In [10]:
X

array([['Jakarta', 44.0, 8000000.0],
       ['Bandung', 27.0, 6500000.0],
       ['Surabaya', 30.0, 4500000.0],
       ['Bandung', 38.0, 7500000.0],
       ['Surabaya', 40.0, 7652666.666666667],
       ['Jakarta', 35.0, 10000000.0],
       ['Bandung', 38.77777777777778, 8250000.0],
       ['Jakarta', 48.0, 9750000.0],
       ['Surabaya', 50.0, 7674000.0],
       ['Jakarta', 37.0, 6700000.0]], dtype=object)